In [24]:
import backend

Game = backend.GameManager("2022-06-06", "BTC/USD")
Data_df = Game.get_stock_prices("BTC/USD", f"2022-08-09 00:00", f"2022-08-10 01:00") 
lastpos = Data_df.loc[len(Data_df)-1, "close"]
sData_df = Data_df.iloc[9::10, :].reset_index(drop=True)
Data_df = Data_df.iloc[::10, :].reset_index(drop=True)


Data_df["close"] = sData_df["close"]
Data_df.loc[len(Data_df)-1,"close"] = lastpos
Data_df

                          date          open  ...           low         close
0    2022-08-09 00:00:00+00:00  23830.109375  ...  23814.039062  23800.269531
1    2022-08-09 00:10:00+00:00  23803.330078  ...  23796.339844  23811.070312
2    2022-08-09 00:20:00+00:00  23809.599609  ...  23809.599609  23826.619141
3    2022-08-09 00:30:00+00:00  23825.990234  ...  23816.740234  23851.529297
4    2022-08-09 00:40:00+00:00  23855.109375  ...  23834.710938  23823.810547
..                         ...           ...  ...           ...           ...
146  2022-08-10 00:20:00+00:00  23050.220703  ...  23050.220703  23048.419922
147  2022-08-10 00:30:00+00:00  23046.429688  ...  23036.369141  22922.750000
148  2022-08-10 00:40:00+00:00  22913.640625  ...  22898.439453  22729.380859
149  2022-08-10 00:50:00+00:00  22731.750000  ...  22729.380859  22766.449219
150  2022-08-10 01:00:00+00:00  22778.599609  ...  22766.449219  22787.300781

[151 rows x 5 columns]

In [11]:
import backend

Game = backend.GameManager("2022-06-06", "BTC/USD")
sData_df = Game.get_stock_prices("BTC/USD", f"2022-08-09 00:00", f"2022-08-10 01:00") 

Data_df = sData_df.iloc[::10, :].copy()
Data_df["close"] = sData_df["open"].iloc[9:-1:10].values
Data_df

ValueError: Length of values (150) does not match length of index (151)

In [26]:
import backend

Game = backend.GameManager("2022-06-06", "BTC/USD")
Data_df = Game.get_stock_prices("BTC/USD", f"2022-08-09 00:00", f"2022-08-10 01:00") 
lastpos = Data_df.loc[len(Data_df)-1, "close"]
sData_df = Data_df.iloc[1::2, :].reset_index(drop=True)
Data_df = Data_df.iloc[::2, :].reset_index(drop=True)
min_length = min(len(Data_df), len(sData_df))
Data_df = Data_df.iloc[:min_length, :]
sData_df = sData_df.iloc[:min_length, :]


Data_df["close"] = sData_df["close"]
Data_df

                          date          open  ...           low         close
0    2022-08-09 00:00:00+00:00  23830.109375  ...  23814.039062  23819.310547
1    2022-08-09 00:02:00+00:00  23808.730469  ...  23806.990234  23822.160156
2    2022-08-09 00:04:00+00:00  23829.990234  ...  23829.000000  23824.939453
3    2022-08-09 00:06:00+00:00  23823.019531  ...  23819.810547  23828.589844
4    2022-08-09 00:08:00+00:00  23830.150391  ...  23804.259766  23800.269531
..                         ...           ...  ...           ...           ...
745  2022-08-10 00:50:00+00:00  22731.750000  ...  22729.380859  22781.279297
746  2022-08-10 00:52:00+00:00  22784.800781  ...  22770.910156  22790.310547
747  2022-08-10 00:54:00+00:00  22789.050781  ...  22787.480469  22778.980469
748  2022-08-10 00:56:00+00:00  22778.310547  ...  22759.160156  22759.300781
749  2022-08-10 00:58:00+00:00  22777.220703  ...  22759.300781  22766.449219

[750 rows x 5 columns]

In [71]:
import pandas as pd

eurusd_file = "eurusd_2021to2024.csv"
btcusd_file = "btcusd_2022to2024.csv"

# Read the CSV file
data_eurusd = pd.read_csv('./Data/'+eurusd_file)

# Convert the datetime column to datetime64
data_eurusd['datetime'] = pd.to_datetime(data_eurusd['datetime'])

# Read the CSV file
data_btcusd = pd.read_csv('./Data/'+btcusd_file)

# Convert the datetime column to datetime64
data_btcusd['datetime'] = pd.to_datetime(data_btcusd['datetime'])

def invert(Data_df):
    inverse = Data_df.copy()
    numerical_columns = Data_df.select_dtypes(include=['number']).columns
    for column in numerical_columns:
        initial_value = Data_df['close'].iloc[0]
        inverse[column] = initial_value * (2 - (Data_df[column] / initial_value))
        inverse[column] = inverse[column].round(5)
    return inverse

inverted = {}
inverted["EUR/USD"] = invert(data_eurusd)
inverted["BTC/USD"] = invert(data_btcusd)
inverted["EUR/USD"]

                   datetime    open     high      low    close
0       2021-01-01 00:00:00  1.2262  1.22610  1.22670  1.22665
1       2021-01-01 00:01:00  1.2267  1.22670  1.22685  1.22680
2       2021-01-01 00:02:00  1.2267  1.22660  1.22670  1.22660
3       2021-01-01 00:03:00  1.2266  1.22635  1.22660  1.22640
4       2021-01-01 00:04:00  1.2264  1.22630  1.22645  1.22630
...                     ...     ...      ...      ...      ...
1258261 2024-06-17 23:56:00  1.3818  1.38170  1.38200  1.38190
1258262 2024-06-17 23:57:00  1.3820  1.38180  1.38200  1.38190
1258263 2024-06-17 23:58:00  1.3820  1.38180  1.38200  1.38180
1258264 2024-06-17 23:59:00  1.3819  1.38170  1.38190  1.38170
1258265 2024-06-18 00:00:00  1.3817  1.38150  1.38170  1.38150

[1258266 rows x 5 columns]

In [73]:
data_eurusd == inverted["EUR/USD"]

         datetime   open   high    low  close
0            True  False  False  False   True
1            True  False  False  False  False
2            True  False  False  False  False
3            True  False  False  False  False
4            True  False  False  False  False
...           ...    ...    ...    ...    ...
1258261      True  False  False  False  False
1258262      True  False  False  False  False
1258263      True  False  False  False  False
1258264      True  False  False  False  False
1258265      True  False  False  False  False

[1258266 rows x 5 columns]

In [75]:
from alpha_vantage.timeseries import TimeSeries
import pandas as pd

# Your Alpha Vantage API key
api_key = 'HQM041114YXW71OZ'

# Create an Alpha Vantage TimeSeries object
ts = TimeSeries(key=api_key, output_format='pandas')

# Get minute-level data for a given symbol (e.g., 'AAPL')
data, meta_data = ts.get_intraday(symbol='TSLA', interval='1min', month="2020-05")
print(meta_data)
print(len(data))
data

{'1. Information': 'Intraday (1min) open, high, low, close prices and volume', '2. Symbol': 'TSLA', '3. Last Refreshed': '2020-05-29 19:59:00', '4. Interval': '1min', '5. Output Size': 'Compact', '6. Time Zone': 'US/Eastern'}
100

                     1. open  2. high  3. low  4. close  5. volume
date
2020-05-29 19:59:00   55.993   56.183  55.867    56.183    48165.0
2020-05-29 19:58:00   55.932   55.967  55.931    55.967    30540.0
2020-05-29 19:56:00   55.925   55.925  55.925    55.925     1980.0
2020-05-29 19:51:00   55.867   55.873  55.867    55.867    16875.0
2020-05-29 19:50:00   55.867   55.900  55.866    55.900    21975.0
...                      ...      ...     ...       ...        ...
2020-05-29 16:35:00   55.567   55.633  55.567    55.633    32040.0
2020-05-29 16:34:00   55.603   55.603  55.567    55.573    26940.0
2020-05-29 16:33:00   55.603   55.603  55.603    55.603     8070.0
2020-05-29 16:31:00   55.659   55.659  55.659    55.659     2625.0
2020-05-29 16:30:00   55.600   55.600  55.570    55.570     6180.0

[100 rows x 5 columns]